/*==========================BACKGROUND_IMAGE================================*/
body { 
	background: url('/asset/image/bgImage.jpg') no-repeat center center fixed; 
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

/*==========================HEADER==========================================*/
.headerSection { background-color: rgba(41, 38, 38, 0.52); width: 30%; }
.headerSection .header .header h1 { color: #15A7FA; }
/*==========================HEADER_NAV_BAR==================================*/
.header .navbar .nav > li { float: left; }

/*==========================CONTENT=========================================*/
.contentSection { height: 100%; width: 100%; }

.contentSection .content { background-color: rgba(0, 0, 0, 0.78); padding: 15px; }

.contentSection .content .scrollContent{ 
	color: ivory;
	overflow: auto;
	position: relative;
	height: 400px;
}